.search-bar input {
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 80vw;
  max-width: 400px;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.search-input {
  font-size: 20px;
  padding-left: 30px;
  width: 40vw;
  border-radius: 15px;
}

.search-input::placeholder {
  font-size: 16px;
  padding-left: 10px;
  color: rgb(0, 0, 0, 0.3);
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.custom-card {
  background-color: #d7d7d7;
  border-radius: 20px;
  width: 80vw;
  margin-bottom: 16px;

  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image-box {
      margin-right: 16px;

      img {
        max-width: 80px;
        height: auto;
        border-radius: 4px;
      }
    }

    .playlist-details {
      flex-grow: 1;

      h2 {
        margin: 0;
        font-size: 25px;
      }
    }

    .view-artists-button {
      margin-left: 16px;
    }
  }
}

.no-playlists {
  font-size: 20px;
  color: #888;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
