<div class="grid">
  <div class="col-6 col-offset-0">
    <h1>Tag Manager</h1>
    <input placeholder="Name" type="text" pInputText [(ngModel)]="value" />
    <p-button class="add-button" (click)="addNewTag()">Add</p-button>
    <p-button class="back-button" (click)="back()">Back</p-button>
  </div>

  <div class="col-6 col-offset-0">
    <p-table [value]="allTags" [tableStyle]="{ 'width': '100%' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }} <i class="pi pi-minus-circle" (click)="deleteTag(product.id)" style="cursor: pointer;float: right;"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
