.i {
  margin-left: auto;
}
.grid {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0 auto;
}

.back-button {
  float: right;
}

.add-button {
  margin-left: 10px;
}
