.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.p-dropdown {
  width: 20vw;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.custom-card {
  background-color: #d7d7d7;
  border-radius: 20px;
  width: 80vw;
  margin-bottom: 16px;

  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image-box {
      margin-right: 16px;

      img {
        max-width: 80px;
        height: auto;
        border-radius: 4px;
      }
    }

    .playlist-details {
      flex-grow: 1;

      h2 {
        margin: 0;
        font-size: 25px;
      }
    }

    .view-artists-button {
      margin-left: 16px;
    }
  }
}

.track-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 4px;
}
